td, th {
    vertical-align: middle !important;
    }
.left, .right {
        float:left;
        height:100vh;
    }
    
.left {
        background: linear-gradient(to right, #080808, #777);
        display: inline-block;
        white-space: nowrap;
        width: 70px;
        transition: width 1s ;
    }

.right {
        background: #fff;
        max-width: 600px;
        width: 600px;
        transition: width 1s;
        border-style:solid;
        border-color:#ccc;
        border-width:1px;
    } 
.right-1{
    background: #fff;
    max-width: 1400px;
    width: 1250px;
    transition: width 1s;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
}   

    

.item:active{

}    
.left .glyphicon {
        margin:15px;
        width:20px;
        color:#fff;
    }
    
.right .glyphicon {
        color:#a9a9a9;
    }
span.glyphicon.glyphicon-refresh{
    font-size:17px;
    vertical-align: middle !important;
    }
    
.item {
        height:50px;
        overflow:hidden;
        color:#fff;
    }
.title {
        background-color:#eee;
        border-style:solid;
        border-color:#ccc;
        border-width:1px;
        box-sizing: border-box;
    }
.search:hover {
        border-color:#4aa9fb;
        border-width:1px;
    }
.search {
    padding:3px 8px 3px !important;
    }
input[type=search] {
    padding: 10px 0px 10px;
	border: 0px solid #fff;
	background: #eee;
	-webkit-appearance: none;
    width:90%;
    float:none;
}
input[type=search]:focus {
    outline:none;
    }
.type{
    height: 47px;;
    }
.date{
    background-color:#f7f7f7
    }
.docdate {
    vertical-align:bottom !important;
    }
.distr {
    margin: 0 0 5px;
    font-size: 12px;
    }
.ndoc {
    margin: 0 0 5px;
    }
.storage {
    margin: 0;
    color: #aaa !important;
    font-size: 12px;
    }
.icon-background {
    color: red;
    width: 50px;
}
.black{
    color: black;
}
.question-font{
    font-family: 'Varela Round', sans-serif !important;
}
.large-font{    font-size: 71px;
    font-weight: 600;}
.challenge-font{
    font-size: 45px;
    font-family: 'Varela Round', sans-serif !important;
    float: right;
    margin-top: 40px;
    margin-right: 99px;
}

.custom-icon {
    font-size: 45px;
    background: #662483;
    padding: 7px;
    -webkit-border-radius: 1100%;
    -moz-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
    border: 3px solid #fff;
    color: #fff;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.46);
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    width: 45px;
    height: 45px;
    -moz-transition: 1.5s;
    -webkit-transition: 1.5s;
    -o-transition: 1.5s;
    transition: 1.5s;
    border-color: 
}
/*Skip Buttons*/
.skip {
    border-radius: 15px;
    background-color: #777777;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    padding: 4px;
    transition: all 0.5s;
    cursor: pointer;
    margin-top: 0px;
    margin-bottom: 5px;
    width: 7%;
}
.skip {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  margin-right: 125px;
  margin-left: 40px;
}
pre{
    data-html: false;
}
/*End of Skip Button*/
/*CheckCode Button on Code-Challenge.html*/
.checkButton{
     border-radius: 15px;
  background-color: #d60b52;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 10px;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 13.333333% !important;
  width: 18%;
}
.checkButton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.checkButton span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.checkButton:hover span {
  padding-right: 25px;
}

.checkButton:hover span:after {
  opacity: 1;
  right: 0;
}
.hintButton{
border-radius: 15px;
  background-color: #d60b52;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 10px;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 40% !important;
  width: 18%;
}
.hintButton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.hintButton span:after {
  content: '?';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.hintButton:hover span {
  padding-right: 25px;
}

.hintButton:hover span:after {
  opacity: 1;
  right: 0;
}
/*End of CheckCode*/

}
.custom-icon:hover {
  background:rgba(0,0,0,0.6);
}
.fix-editor {
  display:none;
}
.icon-wrapper {
  display:inline-block;
}
.fa-1-8x{
    font-size: 1.8em !important;
}  
.header{
    background: #777;
    color: #fff;
    padding: 5px 0;
    margin-top: 50px;
    height: 100px;
}    
.q{
    margin-top: 25px;
    font-size: 38px;
}

 .margin-tb-15{
  margin-top: 40px;
  margin-bottom: 20px;
  margin-left: 10px;
}
.margin-tb-13{
  margin-top: 25px;
  margin-bottom: 20px;
  margin-left: 10px;
}
/*Popover Css*/
.popover, .right {
    top: 100px!important;
    left: 57px;
    height:80%;
    display: block;
}
.popover-content {
  height:90%;
  overflow-y: scroll;
  background: #f8f8f8;
 }
#popover-1 {
    top: 60% ;
}
.popover-content h2{
    color: purple;
}
.popover-title{
    padding-bottom: 12px;
    font-size: 34px;
}

.arrow--1{
    top: 2.5%!important;
}
.arrow--2{
    top: 18%!important;
}
.arrow--3{
    top: 37%!important;
}
.arrow--4{
    top: 54%!important;
}
.arrow--5{
    top: 71%!important;
}
.arrow--6{
    top: 88%!important;
}

.side-bar-height{
    position: fixed;
}
.txt-shadow{
    text-shadow: 2px 2px #ccc;
}
.img-code-dude{
    height: 95px;
    float: left;
    margin-top: -43px;
    margin-right: -32px;
}

/*Reusables*/
.padding-left-0{padding-left: 0px;}

.padding-right-0{padding-right: 0px;}

.padding-top-50{padding-top: 50px;color: white;}
.padding-top-75{padding-top: 75px;}

.padding-bottom-100{padding-bottom: 100px;}

.margin-left-15{margin-left: 15px;}
.margin-left-95{margin-left: 95px;}

.float-r{float: right;}
.float-l{float: left;}

.bright-pink{
    color: #e61873;
}
.pink-purple{
    color: #a2185b;
}

/*class for title possition*/
.title-pos{
    margin-left: 15%;
    margin-top: -4%;
}
/*colour Picker Css*/
.col-xs-1{
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}